body{
    background-color: black;
    width: 100%;
    height: 100%;
    background-attachment:fixed;
    font-size:20px;
    line-height: 50px;
    font-family:Impact, Charcoal, Calibri;
}
a{
    padding-left: 5px;
    text-decoration: none;
}
a:hover{
    text-decoration:underline white;
}
h1{
    font-family: "Comic Sans MS";
    font-size:48px;
    color: red;
    text-align:center;
    padding:20px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
ul{
    list-style-type:none;
}
ul li a{
    text-align:center;
	text-decoration:none;
	color:white;
    margin-right: 20px;
	margin: 10px;
	padding:5px 20px;
	border:1px solid transparent;
}
ul li a:hover{
    text-decoration:underline;
    color:orange;
    text-shadow: 0 -1px 1px #FFF, 0 -2px 6px #ff0, 0 -10px 14px #ff8000, 0 -18px 32px #F00;
    margin-right: 20px;
}
form{
    font-family: "Monaco";
	color:white;
    font-size: 20px;
    border: 5px solid white;
    margin:auto;
    width:60%;
    padding:20px;
    text-align:center;
    letter-spacing: 0.02em;
    -webkit-box-shadow: 0px 0px 31px 13px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 31px 13px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 31px 13px rgba(255,255,255,0.75);
    text-shadow: 2px 2px 0 #7A7A7A;
}
nav{
    font-size:15px;
    color:white;
    text-align:right;
    font-family: "Cambria Math";
}
footer{
    color:white;
    font-size:25px;
    margin-top:15px;
    font-family: "Comic Sans MS";
}
input{
    font-size: 20px;
    font-family:Impact, Charcoal, "Comic Sans MS";
    margin:10px 10px 10px 10px;
    text-align:center;
}
button{
background-color: transparent;
    color:orange;
    font-size: 16px;
    font-family:Impact, Charcoal;
    font-family: "Comic Sans MS";
    margin:8px 8px 8px 8px;
    text-align:center;
    border: 1px solid transparent;
    padding:10px 30px;
	text-decoration: none;
    text-shadow: 0 -1px 1px #FFF, 0 -2px 6px #ff0, 0 -10px 14px #ff8000, 0 -18px 32px #F00;
}
button:hover{
	background-color:#fff;
    text-decoration:underline;
}
div{
    text-align:center;
}
textarea{
    font-size: 20px;
    font-family:Impact, Charcoal, sans-serif;
    text-align:center;
}
.column {

    float: left;
    width: auto;
    margin:0 20px;
}
.cards{
    border: 10px solid;
    border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
    border-image-slice: 1;

}
.row:after {
    content: "";
    display: table;
    clear: both;
}
h4{
    font-size:38px;
    color: orange;
    text-align:center;
    padding:20px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
.tab{
    border: 5px solid red;
    margin:8px 8px 8px 8px;
    -webkit-box-shadow: 0px 0px 31px 13px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 31px 13px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 31px 13px rgba(255,255,255,0.75);

}
p{
     color:white;
    font-size: 20px;
}
.pla{
    border:5px;
	border-color:red;
	border-style:solid;
    margin:8px 8px 8px 8px;
   -webkit-box-shadow: 0px 0px 31px 13px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 31px 13px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 31px 13px rgba(255,255,255,0.75);
    text-shadow: 2px 2px 0 #7A7A7A;
}
.reg-ul li{
    list-style-type: none;

}

.conatiner-reg{
    display: flex;
    justify-content: center;
    align-items: center;
}
