.container{
				text-align: center;
			background-image: url("bmi-bg.jpg")/*linear-gradient(180deg, black, red)*/; 
			background-size: cover;
			height: 80vh;
			display: flex;
			justify-content: center;
			}
			.hello{
				/*background-color: blue;*/
  width: 100%;
  height: auto;
  padding-top: 50px;

			}
			ul{
				list-style-type: none;
			}
body{
	/*background-image: url("tape.jpg");*/
	background-repeat: none;
	background-size: cover;
/*	color: white;*/
	/*background-color: rgba(83, 75, 46,0.6);*/
	
	font-size:30px;
	font-family: Courier;

/*	  background-color: 
    /* top, transparent red, faked with gradient */ 

    /* bottom, image */
    

}
#kg,#cm{
	width: 60%;
	height: 30px;
	opacity:0.6;
	border-radius: 5px;
	border-color: white;
	border-width: 1px;

}
#b1{
	font-size: 20px;
	width:300px;
	height:40px;
}
h2{
	color: white;
}