body{
    background-color: black;
}
.staff{
	margin: 0px;
	display: flex;
	justify-content: space-around;
   
    align-items: center;
}
.column{
	width:auto;	margin-bottom: 16px;
	margin: 0 20px;
	padding:0 8px;

}
.card{
   
  border: 10px solid;
  border-image-source: linear-gradient(to right, red, orange);
/*    45deg, rgb(0,143,104), rgb(250,224,66));*/
  border-image-slice: 1;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.card-info{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
	padding: 50px 30px;
	background-color: black;
	color:white;

}
#head{
    font-size:48px;
    color: orange;
    text-align:center;
    padding:20px;
    text-shadow: 0 -1px 1px #FFF, 0 -2px 6px #ff0, 0 -10px 14px #ff8000, 0 -18px 32px #F00 ;
}


button{
width:320px;
	 background-color: rgb(230, 101, 23);
  border: none;
  color: white;
  height: 40px;
  font-size: 30px;
  margin-bottom: 0px;


}